<!-- <img src='assets/coffee.png' id='coffee'/>
<img src='assets/laptop.png' id='laptop'/>
<img src='assets/plant.png' id='plant'/>
<img src='assets/pinkpaperclip.png' id='pinkpaperclip'/>
<img src='assets/yellowpaperclip.png' id='yellowpaperclip'/>
<img src='assets/pen.png' id='pen'/>
<img src='assets/notebook.png' id='notebook'/>
<img src='assets/ipad.png' id='ipad'/> -->

<div id='welcometext'>
  <h1>Miranda Raymond</h1>
  <h2>Front End Software Engineer</h2>
</div>

<div id="scrolldown">
  <img src='assets/arrow.png' id='arrow'/>
</div>

<div id="parallax1">

</div>


<div id="aboutme">
  <h1>About Me</h1>
  <img src='assets/portfoliopicture.png' id='portpic'/>
  <p id="aboutp">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>

<div id="parallax2">

</div>

<div id="skills">
  <h1>Skills</h1>

  <ul>
    <li class="skillitem"><img src='assets/checked.png'/> Javascript</li>
    <li class="skillitem"><img src='assets/checked.png'/> Rails</li>
    <li class="skillitem"><img src='assets/checked.png'/> HTML5</li>
    <li class="skillitem"><img src='assets/checked.png'/> CSS3</li>
    <li class="skillitem"><img src='assets/checked.png'/> AngularJS</li>
  </ul>
  <ul>
    <li class="skillitem"><img src='assets/checked.png'/> Git</li>
    <li class="skillitem"><img src='assets/checked.png'/> Sketch</li>
    <li class="skillitem"><img src='assets/checked.png'/> SQL</li>
    <li class="skillitem"><img src='assets/checked.png'/> Test Driven Development</li>
    <li class="skillitem"><img src='assets/checked.png'/> Responsive Web Design</li>
  </ul>
  <ul>
    <li class="skillitem"><img src='assets/checked.png'/> AJAX</li>
    <li class="skillitem"><img src='assets/checked.png'/> Sinatra</li>
    <li class="skillitem"><img src='assets/checked.png'/> Problem Solving</li>
    <li class="skillitem"><img src='assets/checked.png'/> Teamwork</li>
    <li class="skillitem"><img src='assets/checked.png'/> Time Management</li>
  </ul>
</div>

<div id="resume">
  <p>
    View My Resume
  </p>
</div>

<div id="parallax3">

</div>

<div id="projects">
  <h1>Work</h1>
</div>

<footer>

</footer>
