<!-- <img src='assets/coffee.png' id='coffee'/>
<img src='assets/laptop.png' id='laptop'/>
<img src='assets/plant.png' id='plant'/>
<img src='assets/pinkpaperclip.png' id='pinkpaperclip'/>
<img src='assets/yellowpaperclip.png' id='yellowpaperclip'/>
<img src='assets/pen.png' id='pen'/>
<img src='assets/notebook.png' id='notebook'/>
<img src='assets/ipad.png' id='ipad'/> -->

<div id='welcometext'>
  <h1>Miranda Raymond</h1>
  <h2>Front End Software Engineer</h2>
</div>

<div id="scrolldown">
  <img src='assets/arrow.png' id='arrow'/>
</div>

<div id="parallax1">
</div>


<div id="aboutme">
  <h1>About Me</h1>
  <img src='assets/portfoliopicture.png' id='portpic'/>
  <p id="aboutp">
    Hi there, my name is Miranda and I am a Front End Software Engineer based in beautiful, rainy Seattle Washington. I am currently seeking employment. I am constantly seeking to better past projects of mine and create new ones! My passion lies in user experience and I am drawn towards clean and modern designs.
  </p>
</div>

<div id="parallax2">
</div>

<div id="skills">
  <h1>Skills</h1>

  <ul>
    <li class="skillitem"><img src='assets/checked.png'/> Javascript</li>
    <li class="skillitem"><img src='assets/checked.png'/> Rails</li>
    <li class="skillitem"><img src='assets/checked.png'/> HTML5</li>
    <li class="skillitem"><img src='assets/checked.png'/> CSS3</li>
    <li class="skillitem"><img src='assets/checked.png'/> AngularJS</li>
  </ul>
  <ul>
    <li class="skillitem"><img src='assets/checked.png'/> Git</li>
    <li class="skillitem"><img src='assets/checked.png'/> Sketch</li>
    <li class="skillitem"><img src='assets/checked.png'/> SQL</li>
    <li class="skillitem"><img src='assets/checked.png'/> Test Driven Development</li>
    <li class="skillitem"><img src='assets/checked.png'/> Responsive Web Design</li>
  </ul>
  <ul>
    <li class="skillitem"><img src='assets/checked.png'/> AJAX</li>
    <li class="skillitem"><img src='assets/checked.png'/> Sinatra</li>
    <li class="skillitem"><img src='assets/checked.png'/> Problem Solving</li>
    <li class="skillitem"><img src='assets/checked.png'/> Teamwork</li>
    <li class="skillitem"><img src='assets/checked.png'/> Time Management</li>
  </ul>
</div>

<div id="resume">
  <p>
    <a href="assets/MirandaRaymondResume.pdf" download>
      Download My Resume
    </a>
  </p>
</div>

<div id="parallax3">
</div>

<div id="projects">
  <h1>Work</h1>

  <p>
    Project previews coming soon...
  </p>
  
  <div id="githubprofile">
    <div class="github-card" data-github="mirandalily" data-width="400" data-height="" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
  </div>
</div>

<footer>
<h1>Let's Connect</h1>

<ul>
  <li class="socialicon"><a href="mailto:mirandaraymond@me.com"><img src='assets/email-logo.png'/></a></li>
  <li class="socialicon"><a href="https://www.github.com/mirandalily" target="_blank"><img src='assets/github-logo.png'/></a></li>
  <li class="socialicon"><a href="https://www.linkedin.com/in/mirandaraymond/" target="_blank"><img src='assets/linkedin-logo.png'/></a></li>
  <li class="socialicon"><a href="https://www.twitter.com/miranda_lily" target="_blank"><img src='assets/twitter-logo.png'/></a></li>
</ul>
</footer>
